---
layout: base.njk
---

<h1><img src="/assets/icon.png" alt="Connie Hodde LMT icon">Connie Hodde, LMT</h1>
<h2>Therapeutic Massage for Women</h2>
<a href="https://www.massagebook.com/biz/therapeutic-massage-for-women">Book with Connie</a>
<a href="https://www.massagebook.com/biz/ConnieHoddeLLC">Book with Abby or Emylee</a>
<a href="https://www.massagebook.com/therapists/connie-hodde-lmt-nchs-health-center?src=external">Book with Connie at the Chiropractic College</a>