---
layout: base.njk
---
<main class="container-fluid">
    <nav>
        <ul>
            <li><strong>Connie Hodde, LMT</strong></li>
        </ul>
        <ul>
            <li><a href="https://www.facebook.com/conniehoddelmt/">Facebook</a></li>
        </ul>
    </nav>
</main>
<main class="container">
	<hgroup>
		<h1>Connie Hodde, LMT</h1>
		<p>Therapeutic Massage for Women</p>
	</hgroup>
	<hr />
    <b>Locations:</b>
	<div class="grid">
		<div>
        <article>
            <p><b>Connie's Office</b></p>
            <p>37 Fall St<br />
            Seneca Falls, NY</p>
            <a href="https://www.massagebook.com/biz/therapeutic-massage-for-women">
				<button>Book with Connie</button>
			</a>
        </article>
		</div>
		<div>
        <article>
            <p><b>Academy Square</b></p>
            <p>12 N Park Street<br />
            Seneca Falls, NY</p>
			<a href="https://www.massagebook.com/biz/ConnieHoddeLLC">
                <button>Book with Abby or Emylee</button>
            </a>
        </article>
		</div>
		<div>
        <article>
            <p><b>Northeast College of Health Sciences</b></p>
            <p>2360 State Route 89<br />
            Seneca Falls, NY</p>
			<a href="https://www.massagebook.com/therapists/connie-hodde-lmt-nchs-health-center?src=external">
                <button>Book with Connie</button>
            </a>
        </article>
		</div>
	</div>
</main>