---
layout: base.njk
---
<main class="container-fluid">
    <nav>
        <ul>
            <li><strong>Connie Hodde, LMT</strong></li>
        </ul>
        <ul>
            <li><a href="https://www.facebook.com/conniehoddelmt/">Facebook</a></li>
        </ul>
    </nav>
</main>
<main class="container">
	<hgroup>
		<h1>Connie Hodde, LMT</h1>
		<p>Therapeutic Massage for Women</p>
	</hgroup>
	<hr />
	<div class="grid">
		<div>
            <p><b>37 Fall St</b></p>
            <a href="https://www.massagebook.com/biz/therapeutic-massage-for-women">
				<button>Book with Connie</button>
			</a>
		</div>
		<div>
            <p><b>Academy Square</b></p>
			<a href="https://www.massagebook.com/biz/ConnieHoddeLLC">
                <button>Book with Abby or Emylee</button>
            </a>
		</div>
		<div>
            <p><b>Northeast College of Health Sciences</b></p>
			<a href="https://www.massagebook.com/therapists/connie-hodde-lmt-nchs-health-center?src=external">
                <button>Book with Connie</button>
            </a>
		</div>
	</div>
</main>